{% if include.data._links %}
  <ul>
    {% include link-li.html label='work' links=include.data._links.work %}
    {% include link-li.html label='skills' links=include.data._links.skills %}
    {% include link-li.html label='contact' links=include.data._links.contact %}
    {% include link-li.html label='projects' links=include.data._links.projects %}
    {% include link-li.html label='languages' links=include.data._links.languages %}
    {% include link-li.html label='db' links=include.data._links.db %}
    {% include link-li.html label='os' links=include.data._links.os %}
  </ul>

  <p></p>

  {% if include.data._links.recommend %}
    {% assign link = include.data._links.recommend %}
    <a class="button recommend" href="{{ link.href }}">{{ link.title }}</a>
  {% endif %}
{% endif %}
