{% if include.data._links %}
  {% if include.data._links.recommend %}
    {% assign link = include.data._links.recommend %}
    <a href="{{ link.href }}">{{ link.title }}</a>
  {% endif %}
  {% include links-stack-item.html title="Work" links=include.data._links.work %}
  {% include links-stack-item.html title="Skills" links=include.data._links.skills %}
  {% include links-stack-item.html title="Contact" links=include.data._links.contact %}
  {% include links-stack-item.html title="Projects" links=include.data._links.projects %}
  {% include links-stack-item.html title="Languages" links=include.data._links.languages %}
  {% include links-stack-item.html title="Databases" links=include.data._links.db %}
  {% include links-stack-item.html title="Operating Systems" links=include.data._links.os %}
{% endif %}
