---
layout: default
---

<header>
  <nav>
    <a href="/">gregoryjscott</a> / <a href="/db">db</a> / {{ page.name | remove: '.md' }}
  </nav>

  <h1>{{ page.title }}</h1>
</header>

<p>{{ page.desc }}</p>

<section markdown="1">
  {% include links-ul.html data=page %}
</section>

{% if page._embedded.projects %}
<section>
  {% for item in page._embedded.projects %}
    <h1>{{ item.title }}</h1>

    <p>
      <em>
        {{ item.role }},
        {{ item.begin_year }}
        {% unless item.begin_year == item.end_year %} -
          {% if item.end_year %}
            {{ item.end_year }}
          {% else %}
            present
          {% endif %}
        {% endunless %}
      </em>
    </p>

    <p>{{ item.desc }}</p>

    {% include links-ul.html data=item %}
  {% endfor %}
</section>
{% endif %}
