---
layout: default
---

<header>
  <nav>
    <a href="/">gregoryjscott</a> / <a href="/languages">languages</a> / {{ page.name | remove: '.md' }}
  </nav>

  <h1>{{ page.title }}</h1>
</header>

<p>{{ page.desc }}</p>

{% if page._embedded.projects %}
  <h1>Projects</h1>
  <section>
    {% for item in page._embedded.projects %}
      <h2>{{ item.title }}</h2>

      <p>
        <em>
          {{ item.role }},
          {{ item.begin_year }}
          {% unless item.begin_year == item.end_year %} -
            {% if item.end_year %}
              {{ item.end_year }}
            {% else %}
              present
            {% endif %}
          {% endunless %}
        </em>
      </p>

      {% include links-ul.html data=item %}
    {% endfor %}
  </section>
{% endif %}
