---
layout: default
---

<header>
  <nav>
    <a href="/">gregoryjscott</a> / <a href="/projects">projects</a> / {{ page.name | remove: '.md' }}
  </nav>

  <h1>{{ page.title }}</h1>
</header>

<p>
<em>
  {{ page.role }},
  {{ page.begin_year }}
    {% unless page.begin_year == page.end_year %} -
      {% if page.end_year %}
        {{ page.end_year }}
      {% else %}
        present
      {% endif %}
    {% endunless %}
</em>
</p>

<article>
{{ content }}
</article>

<section markdown="1">
{% include links-stack.html links=page.links %}
</section>
